<%= partner_presenter.image %>
<h1><%= @partner.name %></h1>
<ul class="partner">
  <li class="contact-name"><%= partner_presenter.contact_name %></li> 
  <li class="contact-email"><%= partner_presenter.contact_email %></li>
  <li class="address"><%= partner_presenter.address %></li>
</ul>
<p><%= @partner.description %></p>
<div class="clear"></div>
