<div class="row company">
  <div class="span8">
    <div class="box gutter">
      <h2><%= @partner.name %></h2>
    </div>

    <div class="box">
      <p class="company-details"><%= @partner.description %></p>
      <p>
        <%= partner_presenter.contact_name %><br />
        <%= partner_presenter.contact_email %>
      </p>
      <p>
        <%= partner_presenter.address %>
      </p>
    </div>
  </div>

  <div class="span4 hidden-phone">
    <div class="box company-image">
      <% if @partner.image == nil %>
        <img src="/assets/ghost.png" alt="No image provided"/>
      <% else %>
        <% @partner.image %>
      <% end %>
    </div>
  </div>
</div>
