<script type="text/javascript">
  $(function() {

    var $sidebar   = $("#checkout"),
        $window    = $(window),
        offset     = $sidebar.offset(),
        topPadding = 60;

    $window.scroll(function() {
        if ($window.scrollTop() > offset.top) {
            $sidebar.stop().animate({
                marginTop: $window.scrollTop() - offset.top + topPadding
            });
        } else {
            $sidebar.stop().animate({
                marginTop: 0
            });
        }
    });

});
</script>

<div class="box gutter">
  <h2>My Cart</h2>

  <% if @items.size <= 0 && @custom_items.size <= 0 %>
    <p class="lead">You don't have any items in your cart!</p>
    <p><%= link_to "Find Patients in Need", patients_path, :class => "btn btn-primary" %></p>
  <% end %>
</div>

<% if @items.size > 0 || @custom_items.size > 0 %>
  <div class="row">
    <div class="span2 gutter">
      <div class="links" id="checkout">
        <%= link_to "Checkout", checkout_billing_info_path, :class => "btn btn-success btn-large" %>
      </div>
    </div>

  <div class="span10">

  <% if @items.size > 0 %>
    <h3>Items from Elixir Fund Partners</h3>
    <%= form_tag update_cart_quantities_path do |f| %>
    <% @items.each do |item| %>
      <div class="media">
        <div class="box">
          <div class="media-object pull-left">
            <%= image_tag item[1].partner.image %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= item[1].title %></h4>
            <b>For: </b> <%= Patient.find(item[0]).name %></b>
            <% if !item[1].price.nil? %>
              <p><span class="label label-success"><%= number_to_currency item[1].price %></span></p>
            <% end %>
            <p>
              <%= link_to "remove from cart", remove_from_cart_path(patient_id: item[0], product_id: item[1].id), method: :put, :class => "btn btn-danger", :style => 'float: left; margin-right: 100px;' %>
              <%= submit_tag "update", :class => 'btn btn-warning', :style => 'float:right; width: 100px; margin:0;' %>
              <div class="input-prepend" style="float:right; margin-right: 8px;">
                <div class="add-on">quantity</div>
                <%= text_field_tag "quantities[]", item[2], :size => '2', :class => 'input-mini', :style => 'width: 40px' %>
              </div>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @custom_items.size > 0 %>
  <h3>Special Request Items</h3>
    <%= form_tag update_cart_quantities_custom_path do |f| %>
    <% @custom_items.each do |item| %>
      <div class="media">
        <div class="box">
          <div class="media-body">
            <h4 class="media-heading"><%= item[1].title %></h4>
            <b>For: </b> <%= Patient.find(item[0]).name %>
            <p>
              <%= link_to "remove from cart", remove_from_custom_cart_path(patient_id: item[0], wishlist_item_id: item[1].id), method: :put, :class => "btn btn-danger", :style => 'float: left; margin-right: 100px;' %>
              <%= submit_tag "update", :class => 'btn btn-warning', :style => 'float:right; width: 100px; margin:0;' %>
              <div class="input-prepend" style="float:right; margin-right: 8px;">
                <div class="add-on">quantity</div>
                <%= text_field_tag "quantities[]", item[2], :size => '2', :class => 'input-mini', :style => 'width: 40px' %>
              </div>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>
