
  <div class="row">
    <div class="span8 offset2">
      <div class="box half">
        <%= form_for(@patient, :as => :patient, :html => {:multipart => true}, :url => patients_path) do |f| %>
          <h2>Add a New Patient</h2>
          <div class="half">
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => "autofocus"  %>
            <%= f.label :city %>
            <%= f.text_field :city %>
            <%= f.label :state, :class => "state" %>
            <%= f.label :zip_code, "Zip Code", :class => "zip" %>
            <%= f.select :state, us_states %>
            <%= f.text_field :zip_code, :class => "zip" %>
            <%= f.label :phone %><br/>
            <%= f.text_field :phone, :type => "tel" %>
            <%= f.label :avatar %>
            <%= f.file_field :avatar, :type => "file" %>
          </div>
          <div class="half right">
            <%= f.label :public_bio, "Public Biography" %>
            <%= f.text_area :public_bio %>
            <%= f.label :private_bio, "Private Biography" %>
            <%= f.text_area :private_bio %>
            <%= f.submit "Create Patient", :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
