<% present(patient, PatientPresenter) do |patient_presenter| %>
  <div class="span2 visible-desktop">
    <%= link_to patient_path(patient), :class => 'patient' do %>
      <ul class="profile">
        <li class="avatar"><%= patient_presenter.avatar %></li>
        <li class="name"><%= patient_presenter.link_to %></li>
        <li class="location"><%= patient_presenter.location %></li>
      </ul>
    <% end %>
  </div>

  <div class="media hidden-desktop">
    <div class="box">
      <%= link_to patient_path(patient), :class => 'patient' do %>
      <div class="media-object pull-left">
        <%= patient_presenter.avatar %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= patient_presenter.link_to %> <%= patient_presenter.location %></h4>
        <p><%= patient_presenter.public_bio %></p>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
