<div class="row patient">
  <div class="span12">
    <div class="box gutter">
      <div class="patient-avatar">
        <%= patient_presenter.avatar %>
      </div>
      
      <h2><%= patient_presenter.name %></h2>
      <p class="lead">
        <%= patient_presenter.location %>
      </p>
      <p><%= patient_presenter.public_bio %></p>
    </div>
  </div>
</div>

<div class="row patient">
  <div class="span2 gutter">
    <div class="links">
      <%= link_to t('label.back_to_patients'), patients_path, :class => "btn btn-primary" %>
    </div>
  </div>

  <div class="span10">
    <div class="box">
      <h3>Wishlist</h3>
      <% if patient_presenter.public_wishlist_items.size <= 0 %>
        <p class="lead"><%= patient_presenter.name %> hasn't added anything to their wishlist!</p>
        <p>Please check back later.</p>
      <% else %>
        <%= render :partial => 'wishlist_item', collection: patient_presenter.public_wishlist_items, as: :wishlist_item, locals: {patient_id: params[:id]} %>
      <% end %>
    </div>
  </div>
</div>

