<p>
	Wishlist Item  
	<% if session[:cart_items] and session[:cart_items].include? [patient_id.to_i, wishlist_item.id].freeze %>
		<%= link_to "Remove from cart", remove_from_cart_path(patient_id: patient_id, product_id: wishlist_item.id), method: :put %>
	<% else %>
		<%= link_to "Add to cart", add_to_cart_path(patient_id: patient_id, product_id: wishlist_item.id), method: :put %>
	<% end %>
	<br>
<%= wishlist_item.inspect %>
<br>
<%= [patient_id.to_i, wishlist_item.id].freeze %>
</p>

<%= session[:cart_items].inspect %>
