<% present product do |p| %>
  <div class="media">
    <div class="box">
      <div class="media-object pull-left">
        <% p.image %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= p.title %></h4>
        <p>By: <%= p.company_link_to %></p>
        <p>
          <%= p.link_to %>
          <% if user_signed_in? and current_user.patient? %>
            <% p.add_to_wishlist %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<!--<% present product do |p| %>
  <ul id="<%= dom_id product %>" class="span9 product">
    <li class="product-list-image"><%= p.list_image %></li>
    <li class="product-title"><h2><%= p.title %></h2></li>
    <li class="product-company"><%= p.company %></li>
    <li class="product-add"><%= p.description %></li>
    <li class="product-link"><%= p.link_to %></li>
    <% if user_signed_in? and current_user.patient? %>
      <li class="add-to-wishlist"><%= p.add_to_wishlist %></li>
    <% end %>
  </ul>
<% end %>-->