<% present product do |p| %>
  <div class="media">
    <div class="box">
      <div class="media-object pull-left">
        <%= p.list_image %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= p.title %></h4>
        <p>
          <% if !p.price.nil? %>
            <span class="label label-success">$<%= p.price %></span>
          <% end %>&nbsp;
          By: <%= p.company_link_to %></p>
        <p>
          <%= p.link_to %>
          <% if user_signed_in? and current_user.patient? %>
            <%= p.add_to_wishlist %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
