<% present product do |p| %>
  <div class="media product">
    <div class="box">
      <% if p.partner.approved %><div class="elixir-approved"></div><% end %>
      <div class="media-object pull-left">
        <%= p.list_image %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= p.title %></h4>
        <p>
          <% if !p.price.nil? %>
            <span class="label label-success"><%= number_to_currency p.price %></span>
          <% end %>&nbsp;
          By: <%= p.company_link_to %> <%= p.company_location %></p>
        <p>
          <%= p.link_to %>
          <%= p.wishlist_button %>
          <%= p.add_another %>
        </p>
      </div>
    </div>
  </div>
<% end %>
