<script type="text/javascript">
  $(function() {

    var $sidebar   = $("#find"), 
        $window    = $(window),
        offset     = $sidebar.offset(),
        topPadding = 30;

    $window.scroll(function() {
        if ($window.scrollTop() > offset.top) {
            $sidebar.stop().animate({
                marginTop: $window.scrollTop() - offset.top + topPadding
            });
        } else {
            $sidebar.stop().animate({
                marginTop: 0
            });
        }
    });
    
});
</script>

<h1>Elixir Fund Gifts</h1>

<%= paginate @products, :theme => "twitter-bootstrap" %>

<div class="row">
  <div class="span3 visible-phone gutter">
    <div class="box">
      <h4><%= t('label.find_a_product') %></h4>
      <p>Search for an item by Keyword, or search by City and State, or by Zip Code to find items in your area.</p>
      <%= render 'search' %>
    </div><!--box-->
  </div><!--span3-->

  <div class="span9">
    <% if @products.any? %>
      <%= render :partial => 'products/product', :collection => @products %>
    <% else %>
      <div class="box">
        <p class="lead"><%= I18n.t('messages.no_products_available') %></p>
      </div>
    <% end %>
  </div><!--span9-->
  <div class="span3 hidden-phone" id="find">
    <div class="box">
      <h4><%= t('label.find_a_product') %></h4>
      <p>Search for an item by Keyword, or search by City and State, or by Zip Code to find items in your area.</p>
      <%= render 'search' %>
    </div><!--box-->
  </div><!--span3-->
</div><!--row-->

<%= paginate @products, :theme => "twitter-bootstrap" %>
