<% present(@product, ProductPresenter) do |product_presenter| %>
  <div class="row">
    <div class="span12">
      <div class="box">
        <h1><%= image_tag @product.image_url unless @product.image.file.nil? %> <%= @product.title %></h1>
        <% #render 'gallery' %>
        <pre><%= @product.inspect if Rails.env.development? %></pre>
      </div>
    </div>
  </div>
    
  <div class="row details">
    <div class="span6">
      <div class="box">
        <h2 class="company"><%= product_presenter.company_link_to %></h2>
        <% if !@product.price.nil? %>
          <p><span class="label label-success"><%= number_to_currency @product.price %></span></p>
        <% end %>
        <p><%= @product.description %></p>

        <p>
          <%= link_to t('label.back_to_products'), products_path, :class => "btn btn-info" %>
          <%= product_presenter.wishlist_button %>
        </p>

      </div>
    </div><!--span6-->

    <div class="span6">
      <div class="box">
        <h2 class="people">People Who Need This</h2>
        <% @patients.in_groups_of(4, false).each do |patients| %>
          <div class="row">
            <%= render :partial => 'products/patient', :collection => patients %>
          </div>
        <% end %>
      </div>
    </div><!--span6-->
  </div>
</div>
<% end %>
