<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <title>ElixirFund</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/js/jquery-1.7.2.min.js" %>
  <link href='http://fonts.googleapis.com/css?family=Domine:400,700|Satisfy' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Elixir Fund</a>
      <div class="nav-collapse collapse">
        <ul class="nav nav-but">
          <li><a href="/patients">Find Patients<br/><span>Who Need Your Help</span></a></li>
          <li><a href="/products">Find Gifts<br/><span>That Improve Lives</span></a></li>
          <li><a href="http://www.elixirfund.org/mission/">Learn More<br/><span>About Our Mission</span></a></li>
        </ul>
        <ul class="nav pull-right">  
          <%= cart_link %>
          <% if user_signed_in? %>
            <li id="nav-divider">|</li>
            <li><%= link_to t('user.my_account'), account_path %></li>
            <li id="nav-divider">|</li>
            <% if current_user.patient? %>
              <li>
                <%= link_to t('label.my_wishlist'), account_wishlist_path %>
              </li>
              <li id="nav-divider">|</li>
            <% end %>
            <li><%= link_to t('button.user.sign_out'), destroy_user_session_path, :method => :delete %></li>
          <% elsif not [new_user_session_path,new_user_registration_path].include?(request.fullpath) %>
            <li><%= link_to t('button.user.sign_in'), new_user_session_path %></li>
            <li id="nav-divider">|</li>
            <li><%= link_to t('button.user.sign_up'), new_user_registration_path %></li>
          <% end %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--container-->
  </div><!--navbar-inner-->
</div><!--navbar-fixed-top-->

<div id="main-content" class="container" role="main">
  <% if !notice.nil? %>
    <div class="alert alert-success fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Success:</strong> <%= notice %>
    </div>
  <% end %>
  <% if !alert.nil? %>
    <div class="alert alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Error:</strong> <%= alert %>
    </div>
  <% end %>
  
  <%= yield %>
  </div><!--main-->
</div><!--container-->

<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <nav id="footer">
          <ul>
            <li><%= link_to 'Read More', 'http://www.elixirfund.org/mission/' %></li>
            <li><%= link_to t('contact_us'), 'http://www.elixirfund.org/contact/' %></li>            
            <li><%#= link_to t('terms'), pages_path('terms') %></li>
            <li><%#= link_to t('privacy_policy'), pages_path('privacy') %></li>
          </ul>
        </nav>
      </div>
    </div>
    
    <div class="row">
      <div class="span12 copyright">
        <p>&copy;2012 Elixir Fund. All Rights Reserved.</p>
      </div>
    </div>    
    
    <div class="row">
      <div class="span12">
        <div class="span2">&nbsp;</div>
        <div class="span4">
          <h3>Like Us on Facebook</h3>
          <script src="http://connect.facebook.net/en_US/all.js#appId=135039393238513&amp;xfbml=1"></script>
          <fb:like href="http://www.elixirfund.org/" send="true" layout="button_count" width="300" show_faces="true" font="arial" fb-xfbml-state="rendered" class="fb_edge_widget_with_comment fb_iframe_widget">
            <span style="height: 20px; width: 131px;">
              <iframe id="f18deb7584" name="f2ce57d738" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 131px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D17%23cb%3Df3c299744%26origin%3Dhttp%253A%252F%252Fwww.elixirfund.org%252Ff267cfddd8%26domain%3Dwww.elixirfund.org%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.elixirfund.org%2F&amp;node_type=link&amp;width=300&amp;font=arial&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=true&amp;extended_social_context=false"></iframe>
            </span>
          </fb:like>
        </div>

        <div class="span4">
          <div class="social-icons">
            <h3>Stay Connected</h3>
            <a href="http://www.facebook.com/pages/Elixir-Fund/131127170043"  class="fb" rel="nofollow" target="_blank" title="Follow Us on Facebook"></a>
            <a href="http://twitter.com/elixirfund" class="tw" rel="nofollow" target="_blank" title="Follow Us on Twitter"></a>
            <a href="http://www.youtube.com/user/elixirfund" class="yt" rel="nofollow" target="_blank" title="Follow Us on YouTube"></a>
            <a href="mailto:contact@elixirfund.org" class="em" rel="nofollow" target="_blank" title="Follow Us on E-mail"></a>
          </div>
        </div>
      </div>


      <div class="span4">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 2,
            interval: 6000,
            width: 'auto',
            height: 230,
            theme: {
              shell: {
                background: '#ffffff',
                color: '#666666'
              },
              tweets: {
                background: '#ffffff',
                color: '#666666',
                links: '#00487f'
              }
            },
            features: {
              scrollbar: true,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: false,
              behavior: 'all'
            }
          }).render().setUser('elixirfund').start();
        </script>
      </div>
    </div><!--row-->

  </div><!--container-->
</footer>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/9XwQziYbc6Xujofu9vT36g.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 207423,
  tab_label: 'Feedback & Support',
  tab_color: '#cc6d00',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>

</body>
</html>
